<% provide(:title, "About") %>


<h1 class="align-center">About us</h1>
      <p>Let’s face it. Most people hate the software they use at work. </p>
      <p>Business software is clunky, expensive, hard to setup and frustrating to use. Countless hours are wasted trying to customize these solutions and they often require expensive professional services to get everything to work. In the end, the solution becomes so complex that businesses need to hire full-time employees to babysit the software.</p>
      <p>At Freshworks, we believe your business deserves better software - software that’s ready to go, easy to setup and use, and requires minimal customization. All of our products live up to this promise and are backed by our world-class support. And the best part is, you don’t have to break the bank to get them working.</p>
      <p>Today, over 100,000 companies trust our software to run their business. We believe it’s just the beginning...</p>
      <p>
        The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
        Tutorial</em></a> is a
        <a href="http://www.railstutorial.org/book">book</a> and
        <a href="http://screencasts.railstutorial.org/">screencast series</a>
        to teach web development with
        <a href="http://rubyonrails.org/">Ruby on Rails</a>.
        This is the sample application for the tutorial.
      </p>
